*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

fieldset {
  border: none;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-areas: "result content__details";
  max-width: 1140px;
  gap: 30px;
  align-items: end;
  align-content: space-between;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: result;
  max-width: 711px;
  height: 100%;
  gap: 16px;
}

.result__video-container {
  position: relative;
  height: 386px;
  margin-bottom: 5px;
}

.result__video {
  width: 100%;
  object-fit: cover;
}

.content__details {
  max-width: 399px;
  grid-area: content__details;
}

.content__list-container {
  height: 298px;
  overflow: auto;
  grid-area: card;
  margin-top: 26px;
  width: 399px;
  position: relative;
}

.content__video-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-family: 'Oswald', 'Fira Sans Condensed', sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 100;
  color: rgba(255, 255, 255, 1);
  line-height: 21.6px;
  font-family: 'Fira Sans Condensed', 'Oswald', sans-serif;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 711px;
  align-items: end;
  justify-items: end;
}

.button {
  width: 100%;
  height: 34px;
  border: 1px solid;
  border-color: currentColor;
  background-color: transparent;
  color: #fff;
  line-height: 21.6px;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

button.button.search-form__submit-button {
  width: 194px;
  margin-bottom: 3px;
}

button.button.more-button {
  margin-bottom: 14px;
}

.button:hover,
.content__card-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active,
.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:has(:focus-visible),
.search-form__label:has(:focus-visible),
.search-form__label-text:has(:focus-visible),
.content__card-link:has(:focus-visible) {
  border: 1px solid #fff;
  outline: none;
}

fieldset.search-form__fieldset {
  margin-bottom: 5px;
}

.content__list-item {
  width: 390px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 23px;
  padding-top: 2px;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: top right;
  height: 103px;
  width: 100%;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content__video-card-description {
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  margin-top: 4px;
}

h1.title {
  font-size: 75px;
  line-height: 70.5px;
  font-weight: 700;
  width: 260px;
  font-family: 'Oswald', 'Fira Sans Condensed', sans-serif;
  text-transform: uppercase;
}

.content__accent {
  color: grey;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  width: 212px;
  margin-bottom: 4px;
}

h2.search-form__fieldset-title {
  margin-bottom: 3px;
}


.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  outline: none;
  gap: 5px;
}

input[type="checkbox"].search-form__label {
  display: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  position: relative;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__textfield {
  background-color: transparent;
  width: 237px;
  gap: 10px;
  border-left: none;
  border-right: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  border-top: 1px solid white;
  border-bottom: 1px solid;
  appearance: none;
  font-family: 'Fira Sans Condensed', 'Oswald', sans-serif;
}

.search-form__textfield:hover {
  text-decoration: none;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: 1px;
  border: none;
}

.search-form__textfield:has(:focus-visible) {
  outline: none;
}

.search-form__label-text {
  line-height: 21.6px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}